<!-- Header -->
<header id="showcase" class="grid">
    <div class="bg-image"></div>
    <div class="content-wrap-head">
        <h1>Welcome to Artemis Library</h1>
        <div class="content-wrap">
            <p></p>
        </div>
    </div>
</header>
<main id="main">
    <section id="section-a" class="grid">
        <div class="content-wrap">
            <h2 class="content-title"></h2>
            <div class="content-text">
                <p><p>
            </div>
        </div>
    </section>
    <section id="section-b" class="anim-lists hidden">
        <h2 style="text-align: center;"></h2>
        <div class="grid">
        <ul>
            <li>
                <div class="card">
                    <img src="https://static.pexels.com/photos/159621/open-book-library-education-read-159621.jpeg" alt="">
                    <div class="card-content">
                        <h3 class="card-title"></h3>
                        <p></p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <img src="https://static.pexels.com/photos/24576/pexels-photo.jpg" alt="">
                    <div class="card-content">
                        <h3 class="card-title"></h3>
                        <p></p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <img src="https://static.pexels.com/photos/33085/knowledge-book-library-glasses.jpg" alt="">
                    <div class="card-content">
                        <h3 class="card-title"></h3>
                        <p></p>
                    </div>
                </div>
            </li>
        </ul>
        </div>
    </section>
    <section id="section-c" class="grid">
        <div class="content-wrap anim hidden">
            <h2 class="content-title"></h2>	
            <p><p>			
        </div>
    </section>
    <section id="section-d" class="grid">
        <div class="box anim-contact-us hidden">
            <h2 class="contact-title"></h2>
            <p></p>
            <p></p>
        </div>
        <div class="box anim-about-us hidden">
            <h2 class="content-title"></h2>
            <p></p>
        </div>
    </section>
</main>
<footer id="main-footer" class="grid">
    <div></div>
    <div>
        Project by <a href="https://www.facebook.com/lahin31" target="_blank">Adayesi</a>
    </div>
</footer>

